<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>Document</title>
</head>

<body>
    <h1>Home page</h1>
    {{#if user}}
    <p>Logged in as {{user.username}}</p>
    {{/if}}
</body>

</html>